<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "Toll Report" | translate }}</ion-title>
    <ion-buttons end *ngIf="igiReportData.length > 0">
      <!-- <button ion-button style="background: white; color: #012B72;" small (click)="OnExport()">{{"Export To
        Excel" | translate}}</button> -->
        <button ion-button icon-only style="color: #fff;" small (click)="OnExport()">
          <img style="width: 20px;" type="image/svg+xml" src="assets/icon/microsoft-office-mac-tilt-excel-icon-17.svg" *ngIf="pltStr === 'ios'">
          <ion-icon name="custom-excel" *ngIf="pltStr !== 'ios'"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

  <!-- <ion-item style="background-color: #fafafa;">
    <ion-label style="margin-top: 15px;">{{
      "Select Vehicle" | translate
    }}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="getIgnitiondevice(selectedVehicle)" [isMultiple]="true">
    </select-searchable>
  </ion-item> -->

  <ion-list>
    <ion-item style="height: 45px; background-color: #fafafa;">
      <ion-label style="margin-top: 15px;">{{
        "Select Vehicle" | translate
      }}</ion-label>
      <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
        itemTextField="Device_Name" [canSearch]="true" (onChange)="getIgnitiondevice(selectedVehicle)"
        [isMultiple]="true">
      </select-searchable>
    </ion-item>
  </ion-list>
  <ion-row style="background-color: #fafafa;">
    <ion-col style="text-align: center;">
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('today')">{{"Today" | translate}}</button>
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('yest')">{{"Yesterday" | translate}}</button>
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('week')">{{"Week" | translate}}</button>
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('month')">{{"Month" | translate}}</button>
    </ion-col>
  </ion-row>
  <ion-row padding-left padding-right style="background-color: #fafafa;">
    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{ "From Date" | translate }}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD-MM-YYYY hh:mm a" [min]="twoMonthsLater" [max]="today" [(ngModel)]="datetimeStart"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;">
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{ "To Date" | translate }}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD-MM-YYYY hh:mm a" [(ngModel)]="datetimeEnd"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;">
        </ion-datetime>
      </ion-label>
    </ion-col>
    <ion-col width-20>
      <div style="margin-top: 9px; float: right">
        <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getIgnitiondeviceReport()">
        </ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let ignitationdata of igiReportData; let i = index">
      <ion-item style="border-bottom: 2px solid #dedede;">
        <ion-avatar item-start>
          <img src="assets/imgs/toll.png" />
        </ion-avatar>
        <ion-label>{{ ignitationdata.vehicleName }}</ion-label>
        <ion-badge item-end color="gpsc" *ngIf="ignitationdata.switch == 'OFF'">
          <ion-icon ios="ios-switch" md="md-switch"></ion-icon>
        </ion-badge>
        <ion-badge item-end color="secondary" *ngIf="ignitationdata.switch == 'ON'">
          <ion-icon ios="ios-switch" md="md-switch"></ion-icon>
        </ion-badge>
      </ion-item>
      <ion-card-content>
        <ion-row style="padding-top:5px;">
          <ion-col col-1>
            <ion-icon ios="ios-time" md="md-time" style="font-size:15px;"></ion-icon>
          </ion-col>
          <ion-col col-11 style="color:gray;font-size:11px;font-weight: 400;text-align:justify;">
            {{ ignitationdata.timestamp | date: "medium" }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1>
            <ion-icon ios="ios-pin" md="md-pin" style="color:#e14444;font-size:15px;"></ion-icon>
          </ion-col>
          <ion-col col-11 (onCreate)="start_address(ignitationdata, i)" style="font-size: 0.8em;">
            <div class="overme">
              {{ ignitationdata.sentense }}
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
