page-loading-unloading-trip {
  .col {
    padding: 1px;
  }
  .para {
    color: gray;
    font-size: 11px;
    text-align: left;
    font-weight: 400;
  }
  .para1 {
    color: #009688;
    font-size: 11px;
    font-weight: 350;
  }
  .label-md,
  .label-ios {
    font-size: 12px;
  }

  .avtar img {
    width: 25px;
    height: 25px;
    margin-right: 2.5%;
    margin-top: 4%;
  }

  .item-md ion-thumbnail ion-img,
  .item-md ion-thumbnail img {
    width: 70px;
    height: 70px;
  }

  .item-md ion-thumbnail[item-start] {
    margin: 0px;
  }
  .item-ios ion-thumbnail ion-img,
  .item-ios ion-thumbnail img {
    width: 70px;
    height: 70px;
  }

  .item-ios ion-thumbnail[item-start] {
    margin: 0px;
  }
}
