<ion-header>
  <ion-navbar>
      <ion-title>{{'Edit Dealer Details' | translate}}</ion-title>
      <ion-buttons end>
          <button ion-button ion-only (click)="dismiss()">
              <ion-icon name="close-circle"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <form [formGroup]="editDealerForm">

      <ion-item>
          <ion-label fixed style="min-width: 50% !important;">{{'User ID*' | translate}}</ion-label>
          <ion-input formControlName="userid" type="text"></ion-input>
      </ion-item>
      <ion-item class="logitem1" *ngIf="!editDealerForm.controls.userid.valid && (editDealerForm.controls.userid.dirty || submitAttempt)">
          <p>{{'Enter User ID' | translate}}</p>
      </ion-item>

      <ion-item>
          <ion-label fixed style="min-width: 50% !important;">{{'First Name*' | translate}}</ion-label>
          <ion-input formControlName="first_name" type="text"></ion-input>
      </ion-item>
      <ion-item class="logitem1" *ngIf="!editDealerForm.controls.first_name.valid && (editDealerForm.controls.first_name.dirty || submitAttempt)">
          <p>{{'Enter First Name' | translate}}</p>
      </ion-item>

      <ion-item>
          <ion-label fixed style="min-width: 50% !important;">{{'Last Name*' | translate}}</ion-label>
          <ion-input formControlName="last_name" type="text"></ion-input>
      </ion-item>
      <ion-item class="logitem1" *ngIf="!editDealerForm.controls.last_name.valid && (editDealerForm.controls.last_name.dirty || submitAttempt)">
          <p>{{'Enter Last Name' | translate}}</p>
      </ion-item>

      <ion-item>
          <ion-label fixed style="min-width: 50% !important;">{{'Email ID' | translate}}</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label fixed style="min-width: 50% !important;">{{'Mobile Number' | translate}}</ion-label>
          <ion-input formControlName="phone" type="number" maxlength="10" minlength="10"></ion-input>
      </ion-item>
      <ion-item class="logitem1" *ngIf="!editDealerForm.controls.phone.valid && (editDealerForm.controls.phone.dirty || submitAttempt)">
          <p>{{'mobile number required and should be 10 digits!' | translate}}</p>
      </ion-item>

      <ion-item>
        <ion-label fixed style="min-width: 50% !important;">{{'Expire On' | translate}}</ion-label>
        <ion-input type="date" formControlName="expirationdate" min="{{minDate}}" style="margin-left: -3px;"></ion-input>
    </ion-item>

      <ion-item>
          <ion-label fixed style="min-width: 50% !important;">{{'Address' | translate}}</ion-label>
          <ion-input formControlName="address" type="text"></ion-input>
      </ion-item>
      <ion-item class="logitem1" *ngIf="!editDealerForm.controls.address.valid && (editDealerForm.controls.address.dirty || submitAttempt)">
          <p>{{'Enter Address' | translate}}</p>
      </ion-item>

  </form>
  <!-- <button ion-button block (click)="updateCustomer()">UPDATE DETAILS</button> -->
</ion-content>
<ion-footer class="footSty">
  <ion-toolbar>
      <ion-row>
          <ion-col style="text-align: center;">
              <button ion-button clear color="light" (click)="_submit()">{{'UPDATE DEALER DETAILS' | translate}}</button>
          </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-footer>
